@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.goals-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $mobile-padding;
  @include tablet {
    align-items: flex-start;
    padding: $tablet-padding;
  }

  &__header {
    @include subheader;
    margin-bottom: $mobile-padding;
  }
  &__body {
    width: 100%;
    border: 1px solid;
    padding: 1rem;
    border-radius: $oval-border-radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-image {
      height: 5rem;
      margin-right: $mobile-padding;
      @include tablet {
        height: 10rem;
      }
    }
  }
}
