// primary
$navy: #131369;
$white: #ffffff;

// secondary
$orange: #f08c00;
$lightorang: #f29a36da;

// background
$darknavy: #010128;
$lightgray: #f7f8f9;
$lightblue: #f5fafe;
$fadeblack: #13182c86;
$fadenavy: #2e66e512;
$cream:#FDF0D5;
$darkcream:#fae3b6;

//supporting
$darkred: #bf0603;
$red: #ee4d30;
$green: #6b8e23;
$darkgreen: #556b2f;