// primary
$navy: #131369;
$black: #13182c;
$blue: #1971c2;
$white: #ffffff;

// secondary
$orange: #f08c00;
$lightorang: #f29a36da;
$darkorange:#F77F00;
$slate: #5c667e;
$cloud: #e1e1e1;

// background
$lightnavy:#003049;
$darknavy: #010128;
$lightgray: #f7f8f9;
$lightblue: #f5fafe;
$fadeblack: #13182c4d;
$fadenavy: #2e66e512;
$cream:#FDF0D5;
$darkcream:#fae3b6;

//supporting
$darkred: #bf0603;
$red: #ee4d30;
$green: #6b8e23;
$darkgreen: #556b2f;