$navy: #131369;
$white: #ffffff;
$orange: #f08c00;
$lightorang: #f29a36da;
$pink:#943c7c;
$darknavy: #010128;
$lightgray: #f7f8f9;
$lightblue: #f5fafe;
$fadeblack: #13182c86;
$fadenavy: #2e66e512;
// $cream:#FDF0D5;
// $darkcream:#fae3b6;
$lavender:#ece5f1;
$darklavender:#d9cbe3;
$darkred: #bf0603;
$red: #ee4d30;
$green: #6b8e23;
$darkgreen: #556b2f;