$small-space-between: 0.25rem;
$mobile-padding: 1rem;
$mobile-small-padding: 0.5rem;
$tablet-padding: 2rem;
$tablet-space-between: 1.5rem;
$desktop-padding: 8.125rem;
$oval-border-radius: 1.25rem;
$button-height: 2.375rem;
