@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.procrastination-item {
  width: 100%;
  padding: $mobile-padding 1.5rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__attr {
    padding-bottom: $mobile-padding;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-bottom: 0;
      width: 15%;
    }

    &-label {
      @include table-header;
      color: $darknavy;

      @include tablet {
        display: none;
      }
    }

    &-value {
      @include body-medium;
      display: flex;
      flex-direction: column;
    }

    &--description {
      width: 100%;

      @include tablet {
        width: 45%;
        margin-right: 5%;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-end;
      width: 5%;
    }
  }
}
