@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/component_mixins" as *;

.goal-form {
    width: 100%;
    display: flex;
    flex-direction: column;


    &__divider {
        @include divider;
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1.5rem;
        border-color: $cloud;
    }

    &__buttons-group {
        display: flex;
        flex-direction: row;
        padding: 1rem 1.5rem;
        gap: 1rem;
        justify-content: space-around;
        background-color: $lightgray;

        @include tablet {
            border-top: 0.0625rem solid $cloud;
            justify-content: flex-end;
        }
    }

    &__cancel-button {
        @include button;
        color: $black;
        border: 0.0625rem solid $cloud;
        background-color: $white;

        &:hover {
            border-color: $navy;
            color: $navy;
        }
    }

    &__add-button {
        @include button;
        background-color: $blue;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $navy;
        }
    }

    &__success-message {
        @include body-medium;
        width: 100%;
        padding: 1rem;
        background-color: $lightgray;
    }
}