@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

//button styling for search and add header
.search_and_add_button_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $mobile-padding;
  gap: $mobile-padding;

  @include tablet {
    padding: $tablet-padding;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    @include page-header;
    text-align: center;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: $mobile-padding;

    @include tablet {
      flex-direction: row;
    }
  }
}
