@use "../../styles/partials/typography-mixins" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

.task-item {
  padding: $mobile-padding 1.5rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid $darknavy 1px;
  border-radius: $oval-border-radius;
  margin: 0.5rem;
  background-color: $lavender;

  &:hover {
    background-color: $darklavender;
  }

  &--done {
    margin-bottom: 0;
    margin-top: 0.25rem;
    opacity: 0.5;
  }

  &__attr {
    padding-bottom: $mobile-padding;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-bottom: 0;
      width: 15%;
    }

    &-label {
      @include table-header;
      color: $darknavy;

      @include tablet {
        display: none;
      }
    }

    &-value {
      @include body-medium;
      display: flex;
      flex-direction: column;
      &-duedate {
        color: $pink;
        font-weight: 700;
      }
    }

    &-sub-value {
      color: $navy !important;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include tablet {
        display: inline;
        margin-top: 0.6rem;
        padding-left: 1.2rem;
      }
    }

    &--description {
      width: 100%;

      a {
        color: $darknavy;
        width: fit-content;
      }

      @include tablet {
        width: 45%;
        margin-right: 5%;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      width: 5%;
    }
  }
}
