@use "../../styles/partials/component_mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.task-status-button {
  &__button-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
        
    img {
      width: 24px;
    }
  }
}
