@use "../../styles/partials/component_mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.task-status-button {
  &__button-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
  }

  &__button {
    @include circle-button;
  }
}
