@import "../../styles/partials/mixins";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/variables";
@import "../../styles/partials/colors";

.header {
  background-color: $darknavy;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  padding: 1rem;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: $tablet-padding;
    font-size: 14px;
    line-height: 22px;
  }

  @include desktop {
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }

  &__logo {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;

    @include tablet {
      justify-content: flex-start;
    }

    &-image {
      margin: 0;
      width: 40px;
      height: auto;
      margin-right: 4px;
    }

    &-text {
      color: $orange;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;

    &-list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin: 0;
      padding-top: 0.5rem;

      @include tablet {
        padding-top: 0;
        justify-content: flex-start;
      }
    }
    &-item {
      width: 40%;
      text-align: center;
      padding: 0.5rem;

      @include tablet {
        padding: 0.5rem 1.1rem;
        margin: 0 0.25rem;
      }

      @include desktop {
        width: fit-content;
        min-width: 4rem;
        margin-right: 0.75rem;
      }

      &--active {
        border-radius: 50px;
        border: solid 2px $orange;
      }
    }

    &-link {
      text-decoration: none;
      color: $lightblue;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
