@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/colors";

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.5rem 0;

  @include desktop {
    padding: 3rem 0;
  }

  &__rights {
    // color: $darknavy;
    color:$lightblue;
    font-size: 0.688rem;
    line-height: 1rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
}
