@use "../../styles/partials/colors" as *;
@use "../../styles/partials/_typography-mixins" as *;
@use "../../styles/partials/_global" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_variables" as *;

.table {
  display: flex;
  flex-direction: column;

  &__divider {
    width: 100%;
    border: 0.0625rem solid $cloud;

    &:nth-child(2) {
      display: none;
      @include tablet {
        display: inline;
      }
    }
  }

  &__labels {
    display: none;

    @include tablet {
      @include table-header;
      display: flex;
      color: $slate;
      padding-left: $tablet-padding;
      padding-right: $tablet-padding;
      height: 2.5rem;
      background-color: $lightgray;
      align-items: center;
      justify-content: space-between;
    }

    @include desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__label {
    align-items: center;

    &:first-child {
      width: 45%;
      margin-right: 5%;
    }

    &:not(:first-child) {
      width: 15%;
    }

    &:last-child {
      text-align: end;
      width: 5%;
    }
  }

  > * {
    &:hover {
      background-color: $fadenavy;
    }
  }
}
